/* Main style for my personal portfolio. */
/* Respeite o código ;D */

.main{
    background-color: black;
    color:white
}

h2{
    text-transform: uppercase;
    height: max-content;
    background-color:grey;
    align-content: center;
    border-radius: 5px;
    padding: 15px;
}

section, footer{
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 3px black; */
    padding: 10px;
    background-color: darkslateblue;
}

.icon{
    width: 40px;
    margin-right: 10px;
}

.button{
    /* font-size:; */
    align-content: center;
    background-color: black;
    color:white;
    height: 28px;
    /* display: block; */
    /* display: inline-block; */
}
.button img{
    width: 30px;
}

nav a:link{color:white;}

a:link{color:yellow;}
a:visited{color: pink;}
a:hover{color:black;}
a:active{color:lime;}

#init{
    background-color: black;
}

#nav-top{
    background-color: gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}