/* Main style for my personal portfolio. */
/* Respeite o código ;D */

.main{
    background-color: antiquewhite;
}

h2{
    text-transform: uppercase;
}

footer{
    text-align: center;
    font-weight: bold;
}